@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #e8f0fe;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 0;
  text-align: center;
}

input[type="text"],
input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#toggleButton {
  background-color: skyblue;
  color: white;
}

#toggleButton:hover {
  background-color: #87ceeb;
}

.delete-button {
  background-color: red;
  color: white;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.edit-button {
  background-color: blue;
  color: white;
}

.edit-button:hover {
  background-color: #1e90ff;
}

.users-list {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

.user {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.user:last-child {
  border-bottom: none;
}
